html, body
  height: 100%
  font-size: 14px
  color: #666

.container
  height: 100%

.no-result-wrapper
  position: absolute
  width: 100%
  top: 45%
  left: 0
  transform: translateY(-50%)

.border-1px
  position: relative
  &::before, &::after
    content: ""
    display: block
    position: absolute
    transform-origin: 0 0

.border-1px
  &::before
    border: 1px solid $border
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 10px

em, i
  display: inline-block
  font-style: normal

@media (min-resolution: 2dppx)
  .border-1px
    &::before
      width: 200%
      height: 200%
      transform: scale(.5) translateZ(0)

@media (min-resolution: 3dppx)
  .border-1px
    &::before
      width: 300%
      height: 300%
      transform: scale(.333) translateZ(0)

.single
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 16px
  background: #fff
  height: 50px
  label
    width: 72px
    flex: 0 0 72px
    color: #999
  .single-static
    color: $dark
    flex: 1
    ofh()
  .avatar
    width: 40px
    height: 40px
  .single-control
    flex: 1
    color: $static
    .cube-input
      font-size: 16px
      .cube-input-field
        padding: 0
        width: 100%
        color: $dark
        height: 30px
    span
      margin-right: 2px
  .single-select
    flex: 1
    color: $dark
    display: flex
    justify-content: space-between
    .cubeic-arrow
      position: relative
      right: 8px

.cc-list
  font-size: 16px
  background: #fff
  padding: 12px 15px 10px
  label
    display: block
    margin: 0 0 15px
    small
      font-size: 12px
      margin-left: 5px

.upload
  font-size: 16px
  background: #fff
  padding: 12px 15px 10px
  label
    display: block
    margin: 0 0 15px
.mt15
  margin-top : 15px

/*****************  cube-ui  *****************/
.cube-radio-group[data-horz="true"]
  z-index: 0 !important

.cube-radio-group[data-horz="true"] .cube-radio:after
  border-color: #fff !important

.cube-radio-group[data-horz="true"]::after
  border: 1px solid #fff !important

.cube-btn
  border-radius: 25px
  padding: 0 10px
  height: 44px
  line-height: 44px
  color: #fff
  background: $color
  .cube-loading
    margin-right: 6px
  &.small
    height: 40px
    line-height: 40px
  &.mini
    height: 32px
    line-height: 32px

.cube-input-field
  padding: 0 10px

.cube-input::after
  border: none