@import "~cube-ui/src/common/stylus/mixin.styl"

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

// 背景图片
bg-image($url, $width, $height)
  width: $width
  height: $height
  background-image: url($url + "@2x.png")
  background-repeat: no-repeat
  background-size: $width $height
  @media (min-resolution: 3dppx)
    background-image: url($url + "@3x.png")

// 限制行数
clamp($n)
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: $n

// 自定义变量
$color = #4C94FF
$red = #f00
$active = #3885f7
$dark = #333
$normal = #666
$gray = #999
$border = #e1e1e1


